/research/unifesp-fatty-liver/
/research/res_dicom2nifti/
/livermask/
/.idea/
/research/random_point.csv
/research/random_points.csv
/research/random_points_quantiles.csv
/research/statistical_model.csv
/research/submission.csv
/research/three_areas.csv
/research/three_areas_quantiles.csv
/research/two_areas.csv
/research/two_areas_quantiles.csv
/research/whole_liver.csv
/research/whole_liver_quantiles.csv
/research/polynomial_regression_model_2.csv
/research/polynomial_regression_model_2_score_by_number_of_var.png
/research/polynomial_regression_model_2_score_by_place.png
/research/polynomial_regression_model_2_score_by_place_and_number_of_var_1.png
/research/polynomial_regression_model_2_score_by_place_and_number_of_var_2.png
/research/polynomial_regression_model_3.csv
/research/polynomial_regression_model_3_score_by_number_of_var.png
/research/polynomial_regression_model_3_score_by_place.png
/research/polynomial_regression_model_3_score_by_place_and_number_of_var_1.png
/research/polynomial_regression_model_3_score_by_place_and_number_of_var_2.png
/research/max_and_min.py
/research/max_and_min.txt
/research/new_train.csv
/research/one_area.csv
/research/one_area_quantiles.csv
/research/linear_regression_model_score_by_number_of_var.png
/research/linear_regression_model_score_by_place.png
/research/linear_regression_model_score_by_place_and_number_of_var_1.png
/research/linear_regression_model_score_by_place_and_number_of_var_2.png
/research/linear_regression_model.csv
/research/interval_model_log_loss.csv
/research/interval_model_f1_score.csv
/research/interval_model.png
/research/full_brightness_quantiles.csv
/research/full_brightness.csv
/research/correlations.csv
/venv/
/research/statistical_model.png
